.data_empty_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
        width: 35%;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        color: var(--color-disabled);
    }
}