.chatList {

    .chat {
        display: flex;
        flex-direction: column;

        .chat_item {
            display: grid;
            grid-template-columns: 10% 90%;
            align-items: center;
            padding: 1rem 0.5rem;
            gap: 1rem;

            &:hover {
                background-color: #F5F6FA;
                cursor: pointer;

            }

            .guests_img {
                display: flex;

                img {
                    width: 2.2rem;
                    height: 2.2rem;
                    position: relative;

                    &:not(:first-child) {
                        margin-left: -0.9rem;
                    }

                    /* 4번째 이미지부터 숨김 */
                    &:nth-child(n+4) {
                        display: none;
                    }
                }
            }

            .message_wrap {
                display: flex;
                flex-direction: column;

                .guests_wrap {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .guests_name {
                        font-weight: 600;
                        font-size: 0.85rem;
                    }

                    .time {
                        font-size: 0.7rem;
                        color: #9EA0B9;
                    }
                }

                .last_message {
                    font-size: 0.85rem;
                    color: #9EA0B9;
                }

            }
        }

        .selected {
            background-color: #F5F6FA;
        }

    }

    .chatRoom {
        position: relative;

        .chat_content_wrap {
            height: 80vh;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow-y: scroll;
            padding: .8rem;

            .date_wrap {
                width: 100%;
                display: flex;
                justify-content: center;

                .date {
                    font-size: 0.75rem;
                    color: var(--color-disabled);
                    background: #afb4cb33;
                    padding: 0 0.5rem;
                    border-radius: 10px;
                }
            }

            .chat_content {
                display: flex;
                align-items: flex-start;
                gap: .5rem;

                img {
                    width: 2rem;
                }

                .author_wrap {
                    display: flex;
                    flex-direction: column;

                    .author_info {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        .name {
                            font-weight: 600;
                            font-size: 0.85rem;
                        }

                        .time {
                            font-size: 0.75rem;
                            color: #9EA0B9;
                        }

                        .me_time {
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }

                .message {
                    display: flex;
                    padding: .2rem .5rem;
                    background: #ced7e278;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    font-size: .8rem;
                }

                .me_message {
                    background: var(--color-accent);
                    color: #fff;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 0;
                }
            }

            .me {
                justify-content: flex-end;
            }
        }

        .chat_input_wrap {
            display: flex;
            gap: 0.5rem;

            .send_button {
                background: #2248CF;
            }
        }
    }
}

.grid {

    display: grid;
    grid-template-columns: 1fr 2fr;
}



@media (max-width: 768px) {
    .chatList {
        .chatRoom {
            .chat_content_wrap {
                height: 60vh;
            }
        }
    }
}

@media (max-width: 480px) {
    .chatList {
        .chatRoom {
            .chat_content_wrap {
                height: 60vh;
            }
        }
    }
}