@font-face {
  font-family: "Jalnan";
  font-style: normal;
  src: url("../assets/fonts/jalnan/Jalnan2TTF.ttf") format("truetype"),
    url("../assets/fonts/jalnan/Jalnan2.otf") format("opentype");
}

@font-face {
  font-family: "Jalnan-Gothic";
  font-style: normal;
  src: url("../assets/fonts/jalnanGothic/JalnanGothicTTF.ttf") format("truetype"),
    url("../assets/fonts/jalnanGothic/JalnanGothic.otf") format("opentype");
  ;
}