@import "./fonts.css";
@import "./reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  accent-color: var(--color-accent);
}

:root {
  --color-accent: #6358DC;
  --color-error: #FF4D4F;
  --color-disabled: #afb4cb;

  --border-radius: 8px;
}

html.dark {
  --color-nav-header: #2b2a2c;
  --color-bg: #11101d;
  --color-text: #fff;
  --color-nav-header-text: #fff;
}