.join_room_container {
    width: 100%;
    height: 100vh;
    display: flex;

    .video_form {
        position: relative;
        width: 400px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;

        img {
            width: min(200px, 50%);
            height: min(200px, 50%);
        }
    }

    .button_container {
        position: absolute;
        bottom: 15px;
        z-index: 99;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        button {
            background: #fff;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .85rem;
            cursor: pointer;
            border: 1px solid var(--color-accent);

            svg {
                color: var(--color-accent);
            }
        }

        .microphone_button {}

        .call_button {
            background: var(--color-accent);

            svg {
                color: #fff;
            }
        }

        .video_cam_button {}
    }



}