.date_wrap {
    width: 100%;
    display: flex;
    justify-content: center;

    .date {
        font-size: 0.75rem;
        color: var(--color-disabled);
        background: #afb4cb33;
        padding: 0 0.5rem;
        border-radius: 10px;
    }
}

.chat_content {
    display: flex;
    align-items: flex-start;
    gap: .5rem;

    img {
        width: 2rem;
    }

    .author_wrap {
        display: flex;
        flex-direction: column;

        .author_info {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .name {
                font-weight: 600;
                font-size: 0.85rem;
            }

            .time {
                font-size: 0.75rem;
                color: #9EA0B9;
            }

            .me_time {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .message {
        display: flex;
        padding: .2rem .5rem;
        background: #ced7e278;
        border-radius: 10px;
        border-top-left-radius: 0;
        font-size: .8rem;
    }

    .me_message {
        background: var(--color-accent);
        color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
    }
}


.me {
    justify-content: flex-end;
}