 .upcoming_list {
     display: flex;
     flex-direction: column;
     gap: .5rem;

     .upcoming_item {
         display: flex;
         align-items: center;
         gap: .8rem;

         span {
             font-size: .85rem;
         }

         .icon_wrap {
             display: flex;
             align-items: center;
             justify-content: center;
             border-radius: var(--border-radius);
             border: 1px solid var(--color-disabled);
             padding: .5rem;

             svg {
                 width: 1rem;
                 height: 1rem;
                 color: #636674;
             }
         }

         .item_time {}

         .item_title {}
     }
 }